.heading {
    color: white;
    font-weight: 900;
    font-size: 72px;
    margin-top: -10px;
}

.header {
    color: white;
    font-size: 32px;
    font-weight: 300px;
    padding: 200px 500px 0px 500px;
}

.banner-container {
    margin-left: 90px;
    margin-top: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url('resources/BannerImage.png');
    width: 1320px;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 600px;
}

/* discount style */
.discount-header {
    font-size: 88px;
    font-weight: 700px;
    color: red;
    padding-top: 100px;
    padding-bottom: 10px;
}

.another-header {
    color: red;
}

.discount-container {
    background-image: url('resources/New\ Year\ Photo.png');
    background-repeat: no-repeat;
    text-align: center;
    height: 900px;
    background-position: bottom;
}

.one-header {
    font-size: 48px;
    color: black;
}

/* party section */
.party-container {
    background: linear-gradient(to right, rgba(00, 00, 00, 0.95) 0%, rgba(0, 0, 0, 0) 100%), url('resources/Vectorrr.png');
    height: 630px;
    margin-left: 85px;
    margin-right: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-top: 100px;
}

.party_main {
    display: flex;
}

.party_content {
    width: 70%;
}

.party_title {
    color: #FFF;
    font-weight: 900;
    font-size: 64px;
    padding-left: 126px;
    padding-top: 60px;
}

.party_des {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding-left: 126px;
}

.join {
    background-color: black;
    color: #FFF;
    margin-left: 140px;
    margin-top: 30px;
    text-decoration: none;
}

.party_img {
    margin-top: 68.1px;
}

/* party-place section */
span {
    color: red;
}

.box {
    height: 450px;
    text-align: center;
    background-image: linear-gradient(lightpink, white);
    margin-left: 85px;
    margin-right: 85px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.first-button {
    background-color: red;
    color: #FFF;
    border: 0px;
    padding: 15px 30px;
}

.box>h1 {
    padding: 100px 350px;
}

/*  */
.offer-container{
    margin: 0px 85px;
    display: flex;
}
.offer-content{
    width: 30%;
}
.offer-content-subtitle{
    color: #F00;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}
.offer-content-title{
    font-weight: 900;
    color: black;
    font-size: 48px;
}
.offer-content-des{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
}
.offer-img{
    width: 40%;
    text-align: center;
}
img.offer-img-photo-item {
    border: 15px solid red;
    border-radius: 230px;
    padding: 15px;
}


.offer-year{
    width: 30%;
    text-align: center;
}
/* products section */
.third-head {
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.second-head {
    font-size: 48px;
    font-weight: 900;
}

.container {
    height: 1050px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.image-1 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 8.png');
    background-repeat: no-repeat;
}

.image-2 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 7.png');
    background-repeat: no-repeat;
}

.image-3 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 6.png');
    background-repeat: no-repeat;
}

.image-4 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 5.png');
    background-repeat: no-repeat;
}

.image-5 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 4.png');
    background-repeat: no-repeat;
}

.image-6 {
    height: 450px;
    width: 470px;
    background-image: url('resources/Rectangle\ 3.png');
    background-repeat: no-repeat;

}

.top-half {
    display: flex;
    width: 1280px;
}

.bottom-half {
    display: flex;
    width: 1280px;
}

/* subscribe-container */
.subscribe-container {
    margin-top: 100px;
    height: 600px;
    margin-left: 85px;
    margin-right: 85px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-photo{
    padding-left: 585px;
    padding-top: 60px;
}
.subscribe-head {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    gap: 25;
}

.btn-div {
    text-align: center;
    gap: 20px;
}
.mail-btn {
    border-radius: 0px 30px 30px 0px;
    background-color: #F00;
    padding: 20px 50px;
    margin-left: -10px;
}

input {
    padding: 20px 50px;
    border-radius: 30px 0px 0px 30px;
}
.subscribe-cntxt{
    text-align: center;
}
footer{
    background-color: #070211;
    height: 450px;
    padding: 50px 85px;
}
.footer-one{
    display: flex;
    padding: 30px 0px ;
}
.footer-one-content{
    width: 50%;
}
.footer-one-contact{
    width: 50%;
    text-align: center;
}
.footer-one-content p,a{
    color: white;
}
.footer-three a,p{
    color: #FFF;
}
.footer-one a{
    text-decoration: none;
}
.footer-three a{
    text-decoration: none;
}
.footer-two{
    text-align: center;
    padding: 70px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-three{
    display: flex;
    padding: 30px 0px;
}
.footer-three-content{
    width: 50%;
}
.footer-three-btn{
    width: 50%;
    padding-top: 15px;
    text-align: right;
}
.offer-year-content-title{
    color: #F00;
    font-weight: 700;
    font-size: 48px;
}

p.offer-year-content-des {
    color: black!important;
}

.offer-year-img {
    padding-top: 20px;
}
.port_des{
    color: black!important;
    font-size: 20px;
}